{% extends 'base.html.twig' %}

{% block title %}StudentAddresses index{% endblock %}

{% block body %}
    <h1>StudentAddresses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_address_from</th>
                <th>Date_address_to</th>
                <th>Monthly_rental</th>
                <th>Other_details</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_address in student_addresses %}
            <tr>
                <td>{{ student_address.id }}</td>
                <td>{{ student_address.dateAddressFrom ? student_address.dateAddressFrom|date('Y-m-d') : '' }}</td>
                <td>{{ student_address.dateAddressTo ? student_address.dateAddressTo|date('Y-m-d') : '' }}</td>
                <td>{{ student_address.monthlyRental }}</td>
                <td>{{ student_address.otherDetails }}</td>
                <td>
                    <a href="{{ path('student_addresses_show', {'id': student_address.id}) }}">show</a>
                    <a href="{{ path('student_addresses_edit', {'id': student_address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_addresses_new') }}">Create new</a>
{% endblock %}
