<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> {% block meta %}{% endblock %}
		<title>
			{% block title %}Student Registration
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary">
			<a class="navbar-brand" href="/">Student Registration</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('students_index') }}">Etudiants
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('classes_index') }}">Classes
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('student_class_registrations_index') }}" title="Acces administration">Inscription
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('parents_and_guardians_index') }}" title="Acces administration">Tuteurs
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('addresses_index') }}">Adresses
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('property_owners_index') }}" title="Acces administration">Bailleurs
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('students_relationships_index') }}" title="Acces administration">Relations Etudiants
						</a>
					</li>
				</ul>
				<div class="form-inline my-2 my-lg-0">
					{% if app.user %}
						<a class="btn btn-sm btn-success" href="{{ path('app_logout') }}">Deconnexion</a>
					{% else %}
						<a class="btn btn-sm btn-success" href="{{ path('app_login') }}">Connexion</a>
					{% endif %}
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<footer></footer>
		<script src="{{ asset('assets/js/jquery-3.3.1.slim.min.js') }}"></script>
		<script src="{{ asset('assets/js/popper.min.js') }}"></script>
		<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
